@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #16171b;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    border: solid 4px transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}